<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.luke</string>
    <key>ProgramArguments</key>
    <array>
        <string>__UV_PATH__</string>
        <string>run</string>
        <string>luke</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__PROJECT_ROOT__</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>__LUKE_DIR__/luke.log</string>
    <key>StandardErrorPath</key>
    <string>__LUKE_DIR__/luke.err</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/opt/homebrew/bin:__HOME__/.local/bin</string>
        <key>LUKE_DIR</key>
        <string>__LUKE_DIR__</string>
    </dict>
</dict>
</plist>
